<% provide(:title, "Question") %>
<h1>New Question</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@question, url: admin_questions_path) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <div class="question-detail">  
        <%= f.label :subject %>
        <%= @question.subject.name %>
        <%= f.label :level %>
        <%= @question.level.name %>
        <%= f.label :answer_type %>
        <%= f.select :answer_type, @types %>
        <%= f.hidden_field :subject_id, value: @question.subject.id %>
        <%= f.hidden_field :level_id, value: @question.level.id %>
        <%= f.label :content %>
        <%= f.text_field :content %>
        <div id="cb_question">
          <%= render "checkbox_question", f: f %>
        </div>
        <div id="rb_question">
          <%= render "radio_question", f: f %>
        </div>
      </div>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
