<% provide(:title, "Exam Question") %>
<h1>Exam Question</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@exam_question, url: admin_exam_questions_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="exam-question-detail">  
        <%= f.label :subject %>
        <%= f.collection_select :subject_id, @subjects, :id, :name %>
        <%= f.label :level %>
        <%= f.collection_select :level_id, @levels, :id, :name %>
        <%= f.fields_for :exam_question_details do |builder| %>
          <% if builder.object.answer_type == ExamQuestionDetail::TEXT_BOX_QUESTION_TYPE %>
            <%= "Text Box Question Quantity" %>
          <% elsif builder.object.answer_type == ExamQuestionDetail::CHECK_BOX_QUESTION_TYPE %>
            <%= "Check Box Question Quantity" %>
          <% else %>
            <%= "Radio Button Question Quantity" %>
          <% end %>
          <%= builder.text_field :quantity %>
          <%= builder.hidden_field :answer_type, value: builder.object.answer_type %>
        <% end %>
      </div>
      <%= f.submit "Set", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
